annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
fastapi==0.136.1
idna==3.15
pydantic==2.13.4
pydantic_core==2.46.4
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
yt-dlp
ffmpeg==1.4
google-cloud-storage
firebase-admin
uvicorn==0.46.0